{% extends 'base.html.twig' %}

{% block admin %} {% endblock %}

{% block body %}
    {{ parent() }}
    <div class="col mr-2">
        <h1 class="display-4 text-center text-muted mt-4">Satistiques générales</h1>
        <div class="row justify-content-center mt-5">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title text-success">{{ users }}</h3>
                                <span class="font-weight-bold">Utilisateurs inscrits</span>
                            </div>
                            <div class="col align-self-center text-center">
                                <i class="fas fa-user text-success" style="font-size: 60px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-xl-3 col-sm-6 col-xs-12">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title text-success">{{ users }}</h3>
                                <span class="font-weight-bold">Utilisateurs inscrits</span>
                            </div>
                            <div class="col align-self-center text-center">
                                <i class="fas fa-user text-success" style="font-size: 60px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-xl-3 col-sm-6 col-xs-12">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title text-success">{{ users }}</h3>
                                <span class="font-weight-bold">Utilisateurs inscrits</span>
                            </div>
                            <div class="col align-self-center text-center">
                                <i class="fas fa-user text-success" style="font-size: 60px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block title %}

{% endblock %}

